html {
  font-size: 62.5%;
  line-height: 1.2;
  box-sizing: border-box;
  background-color: papayawhip;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.section {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
  border-bottom: 2px solid #cccccc;
  text-align: center;
}

fieldset {
  padding: 5px;
}
.hidden {
  display: none;
  align-items: center;
}

form {
  padding-top: 100px;
  display: flex;
  margin: 0 auto;
  width: 600px;
  justify-content: space-between;
}
input {
  margin: 5px;
}
.inputed-data {
  padding-top: 50px;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 25px;
}
body {
  margin: 0 auto;
}
.selector {
  display: block;
  text-align: center;
  margin: 20px auto 0;
  font-size: 20px;
  text-transform: capitalize;
}

.rendered-newst {
  margin: 0 auto;
  text-align: justify;
  font-size: 16px;
  max-width: 600px;
}

h2 {
  text-align: center;
}
